/* Basic style for the cart view */
.cart-view {
	position: absolute;
	position: fixed;
	top: 60px;
	right: 0;
	height: 90%;
	width: 300px;
	background-color: rgba(72, 53, 53, 0.8);
	color: white;
	padding: 20px;
	border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 100;
}

/* Header inside the cart */
.cart-view h1 {
	text-align: center;
	margin-top: 5px;
	font-size: 1.5em;
	color: #fff;
}

/* Styling for the cart items list */
.cart-items {
	flex-grow: 1;
	overflow-y: auto;
	padding: 10px 0;
}

/* Style for each cart item */
.cart-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #a48b8b;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.poster {
	max-width: 60px;
	max-height: 100px;
	margin-right: 15px;
	border-radius: 5px;
}

.cart-item p {
  width: 200px;
	font-size: 1em;
	color: black;
	margin: 0;
}

.trashCan {
	background-color: #a48b8b;
	color: white;
	padding: 2px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
	right: 27px;
}

.trashCan:hover {
    background-color: #8d7777;
}

.trashCan img {
	width: 30px;
}

.checkout {
  background-color: #ff5454;
  color: white; 
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
	position: relative;
	width: 100%;
}

.checkout:hover {
  background-color: #d44242; /* Darker pink on hover */
}