.register-container {
  background-color: rgb(27, 18, 18);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: arial;
  align-items: center;
  margin: auto;
}

.googleRegister {
  position: relative;
  bottom: 75px;
  width: 320px;
}

form {
  margin-top: 150px;
}

.createAccount {
  font-family: "Karla";
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #f0f0f0;
  letter-spacing: 1px;
}

.register-container button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genreLabel {
  font-family: "Karla";
  font-size: 25px;
  font-weight: 500;
  color: #f0f0f0;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.genresList {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.genresList label {
  color: white;
  font-family: "Karla";
  font-size: 20px;
  margin-bottom: 15px;
  display: flex; /* To align the checkbox and text horizontally */
  align-items: center;
}

.genresList input {
  margin-right: 5px;
}

.register-container p {
  color: white;
  margin-top: 10px;
  padding-bottom: 30px;
}

.register-container p>a {
  color: red;
}