@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --button-font: "Rubik";
  --button-radius: 3px;
  --right-position: 60px;
}

* {
  margin: 0px;
}

.homepage {
  position: absolute;
  display: inline-block;
  margin-top: 130px;
  margin-left: 30px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 55px;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 20px;
  text-shadow: 0 0 3px rgb(27, 18, 18), 0 0 5px rgb(27, 18, 18);
}

.startsatpi-text {
  width: auto;
  font-family: "Karla";
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  font-size: 22px;
  margin-left: 3px;
  color: white;
  margin-top: 35px;
  margin-bottom: 20px;
}

.homepage input {
  height: 55px;
  width: 340px;
  border: none;
  border-color: gray;
  border-radius: var(--button-radius);
  outline: none;

  color: gray;
  text-indent: 15px;
  font-size: 18px;
  font-family: var(--button-font);
  padding: 5px;
}

.homepage button {
  background-color: rgb(218, 4, 4);
  height: 64px;
  width: 170px;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  padding: 10px;
  left: 360px;
  top: 147px;

  color: white;
  font-size: 19px;
  font-family: var(--button-font);

  transition: background-color 0.3s;
}

.homepage button:hover {
  background-color: rgb(187, 11, 20);
}